{
    "elasticsearch": {
        "url": "",
        "cacertfile": "",
        "alertingindex": "",
        "queryfile": "",
        "username": "",
        "password": ""
    },
    "smtp": {
        "to": "",
        "from": "",
        "subject": "",
        "smtpserver": "",
        "username": "",
        "password": ""
    }
}